---
import Layout from '../layouts/Layout.astro';
import FactsCard from '@components/FactsCard';
import data from '@data/data.json';
import IPlanet from '@interfaces/IPlanet';

const mercury: IPlanet = data.find((x) => x.name === 'Mercury');
---

<Layout title='Mercury'>
  <main class='container mx-auto'>
    <div class='grid grid-cols-2'>
      <img src='/planet-mercury.svg' alt='planet-mercury' class='mx-auto' />
      <FactsCard client:load name={mercury.name} overview={mercury.overview} />
    </div>
  </main>
</Layout>
