---
import IPlanet from '@interfaces/IPlanet';

const { planet } = Astro.props as IPlanet;
---

<section class='flex flex-col gap-4 max-w-sm mx-auto'>
  <h1 class='uppercase'>{planet.name}</h1>
  <p>
    {planet.overview.content}
  </p>

  <p>{planet.overview.source}</p>

  <div class='flex flex-col gap-4'>
    <button
      class='flex justify-start items-center gap-8 pl-10 py-2 drop-shadow-md border border-grey/50 hover:bg-azure-blue bg-azure-blue'
    >
      <span>
        <h3 class='opacity-50'>01</h3>
      </span>
      <span class='uppercase text-white'>
        <h3>Overview</h3>
      </span>
    </button>

    <button
      class='flex justify-start items-center gap-8 pl-10 py-2 border border-grey/50 hover:bg-azure-blue'
    >
      <span>
        <h3 class='opacity-50'>02</h3>
      </span>
      <span class='uppercase text-white'>
        <h3>Internal Structure</h3>
      </span>
    </button>

    <button
      class='flex justify-start items-center gap-8 pl-10 py-2 border border-grey/50 hover:bg-azure-blue'
    >
      <span>
        <h3 class='opacity-50'>03</h3>
      </span>
      <span class='uppercase text-white'>
        <h3>Surface Geology</h3>
      </span>
    </button>
  </div>
</section>
