<section class='flex flex-col gap-4'>
  <h1 class='uppercase'>Mercury</h1>
  <p>
    Mercury is the smallest planet in the Solar System and the closest to the
    Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all
    the Sun's planets. Mercury is one of four terrestrial planets in the Solar
    System, and is a rocky body like Earth.
  </p>

  <p>Source : Wikipedia URL: https://en.wikipedia.org/wiki/Mercury_(planet)</p>

  <div class='flex flex-col gap-2'>
    <button
      ><span class='text-dark-grey'>01</span><span class='uppercase text-white'
        >Overview</span
      >
    </button>
    <button
      ><span class='text-dark-grey'>02</span><span class='uppercase text-white'
        >Internal Structure</span
      >
    </button>
    <button
      ><span class='text-dark-grey'>03</span><span class='uppercase text-white'
        >Surface Geology</span
      >
    </button>
  </div>
</section>
