<nav class='flex items-center justify-between h-20 mx-6'>
  <h2 class='uppercase'>The planets</h2>
  <ul class='flex justify-between items-center gap-4'>
    <li><a href='index.html' class='uppercase'>Mercury</a></li>
    <li><a href='venus.html' class='uppercase'>Venus</a></li>
    <li><a href='earth.html' class='uppercase'>Earth</a></li>
    <li><a href='mars.html' class='uppercase'>Mars</a></li>
    <li><a href='jupiter.html' class='uppercase'>Jupiter</a></li>
    <li><a href='saturn.html' class='uppercase'>Saturn</a></li>
    <li><a href='uranus.html' class='uppercase'>Uranus</a></li>
    <li><a href='neptune.html' class='uppercase'>Neptune</a></li>
  </ul>
</nav>
