<nav class='flex items-center justify-between h-20 mx-6'>
  <h2 class='uppercase'>The planets</h2>
  <ul class='flex justify-between items-center gap-4'>
    <li>
      <a
        href='index.html'
        class='uppercase py-2 px-4 rounded-full hover:bg-dark-grey'>Mercury</a
      >
    </li>
    <li>
      <a
        href='venus.html'
        class='uppercase py-2 px-4 rounded-full hover:bg-dark-grey'>Venus</a
      >
    </li>
    <li>
      <a
        href='earth.html'
        class='uppercase py-2 px-4 rounded-full hover:bg-dark-grey'>Earth</a
      >
    </li>
    <li>
      <a
        href='mars.html'
        class='uppercase py-2 px-4 rounded-full hover:bg-dark-grey'>Mars</a
      >
    </li>
    <li>
      <a
        href='jupiter.html'
        class='uppercase py-2 px-4 rounded-full hover:bg-dark-grey'>Jupiter</a
      >
    </li>
    <li>
      <a
        href='saturn.html'
        class='uppercase py-2 px-4 rounded-full hover:bg-dark-grey'>Saturn</a
      >
    </li>
    <li>
      <a
        href='uranus.html'
        class='uppercase py-2 px-4 rounded-full hover:bg-dark-grey'>Uranus</a
      >
    </li>
    <li>
      <a
        href='neptune.html'
        class='uppercase py-2 px-4 rounded-full hover:bg-dark-grey'>Neptune</a
      >
    </li>
  </ul>
</nav>
